{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Yoel Diaz Herrera Portafolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    {% comment %}<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">{% endcomment %}

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/typed.js/typed.min.js' %} "></script>
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom CSS File -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Personal - v4.9.0
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <h1><a href="{% url 'landing_page' %}">{% trans 'Yoel Diaz Herrera' %}</a></h1>
        <h2>{% trans "I'm" %}
            <span class="typed" data-typed-items="{% trans 'Developer, DevOps, Cybersecurity Analyst' %}"></span>
        </h2>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" href="#header">{% trans 'Home' %}</a></li>
                <li><a class="nav-link" href="#about">{% trans 'About' %}</a></li>
                <li><a class="nav-link" href="#experience">{% trans 'Experience' %}</a></li>
                <li><a class="nav-link" href="#badges">{% trans 'Badges' %}</a></li>
                <li><a class="nav-link" href="#contact">{% trans 'Contact' %}</a></li>
                <li><a class="nav-link" href="#language">{% trans 'Language' %}</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="social-links">
            <a href="https://www.linkedin.com/in/yoel-d%C3%ADaz-herrera-91969313b/" class="linkedin"><i
                    class="bi bi-linkedin"></i></a>
            <a href="https://www.twitter.com/yoe1_diaz" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/yoel.diazherrera.5" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/yoeldiaz5/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://github.com/yoeldiaz" class="github"><i class="bi bi-github"></i></a>
        </div>

    </div>
</header><!-- End Header -->

<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>{% trans 'About' %}</h2>
            <p>{% trans 'Learn more about me' %}</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="{% static 'img/me.jpg' %}" class="rounded-5 img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>{% trans 'Computer Engineer' %}</h3>
                <p class="text-justify">
                    {% trans "Computer Science Engineer graduated from the University of Computer Science in 2016. Linked to computer security, network management and software development since 2008, I have participated inseveral development projects in the following roles: Full Stack Developer, Systems Analyst, DatabaseAdministrator and Quality Assurance." %}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Birthday' %}:</strong>
                                <span>22 {% trans 'June' %} 1992</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Degree' %}:</strong>
                                <span>{% trans 'Engineering' %}</span></li>
                            {% comment %}
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li>
                            {% endcomment %}
                            <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'E-Mail' %}:</strong>
                                <span><a href="mailto:yoediaz92@gmail.com">yoediaz92@gmail.com</a></span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Age' %}:</strong> <span><script>document.write({% now 'Y'%}-1992)</script></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Freelance' %}:</strong>
                                <span>{% trans 'Available' %}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- End About Me -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

        <div class="section-title">
            <h2>{% trans 'Skills' %}</h2>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">{% trans 'Telecommunication' %} <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">{% trans 'Algorithms' %} <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">{% trans 'Hardware' %} <i class="val">40%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">{% trans 'Software Engineering' %} <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">{% trans 'Data Engineering' %} <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">{% trans 'Electronic' %} <i class="val">25%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

        </div>

    </div><!-- End Skills -->

    <!-- ======= Language Skills  ======= -->
    <div class="skills container">

        <div class="section-title">
            <h2>{% trans 'Language' %}</h2>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">{% trans 'Spanish' %} <i class="val">98%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">{% trans 'English' %} <i class="val">64%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="64" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

        </div>

    </div><!-- End Language Skills -->

    <!-- ======= Software ======= -->
    <div class="interests container">

        <div class="section-title">
            <h2>{% trans 'Software' %}</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="icon-box centered">
                    <h3>Python</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box centered">
                    <h3>Django</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box centered">
                    <h3>React Native</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box centered">
                    <h3>Ionic</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>Elastic Stack</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>Docker</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>Kubernetes</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>Google Cloud</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>ESXI</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>GNU/Linux</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box centered">
                    <h3>Windows</h3>
                </div>
            </div>
        </div>

    </div><!-- End Software -->

</section><!-- End About Section -->

<!-- ======= Experience Section ======= -->
<section id="experience" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>{% trans 'Experience' %}</h2>
            <p>{% trans 'Check my experience' %}</p>
        </div>

        <div class="row">
            <div class="col-lg-4">

                <h3 class="resume-title">{% trans 'Education' %}</h3>
                <div class="resume-item">
                    <h4>{% trans 'Engineering in Computer Science' %}</h4>
                    <h5>2016-2011</h5>
                    <p><em>{% trans 'University of Computer Sciences (UCI)' %}.
                        {% trans 'Havana' %}, {% trans 'Cuba' %}</em></p>
                </div>
                <div class="resume-item">
                    <h4>{% trans 'High School Degree Computer Science' %}</h4>
                    <h5>2011-2008</h5>
                    <p><em>{% trans 'Tec. Institute Raúl Cepero Bonilla' %}.
                        {% trans 'Havana' %}, {% trans 'Cuba' %}</em></p>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 class="resume-title">{% trans 'Professional Experience' %}</h3>
                <div class="row">
                    <div class="col-lg-6" style="margin-bottom: 10px;">
                        <div class="resume-item">
                            <h4>{% trans 'Cybersecurity Analyst' %}</h4>
                            <h5>{% now 'Y' %} - 2019</h5>
                            <p><em>EICMA</em></p>
                            <div>
                                <button type="button" class="btn btn-outline-dark btn-sm">Elastic Stack</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Docker</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">ESXI</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Proxmox</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">API REST</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Ansible</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Pentesting Soft.</button>
                            </div>
                        </div>
                        <div class="resume-item">
                            <h4>{% trans 'Full Stack Developer' %}</h4>
                            <h5>2019 - 2016</h5>
                            <p><em>CISED</em></p>
                            <div>
                                <button type="button" class="btn btn-outline-dark btn-sm">Python</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">PHP</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Symfony</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Django</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">JS</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Ajax</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Git</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">QA</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="resume-item">
                            <h4>{% trans 'Full Stack Developer' %}, DevOps</h4>
                            <h5>{% now 'Y' %} - 2016</h5>
                            <p><em>{% trans 'Freelance' %}</em></p>
                            <div>
                                <button type="button" class="btn btn-outline-dark btn-sm">Python</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Django</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">React Native</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Ionic</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Kubernetes</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Gitlab</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Github</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">CI/CD</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">Spark</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">GCP</button>
                                <button type="button" class="btn btn-outline-dark btn-sm">AWS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Experience Section -->

<!-- ======= Badges Section ======= -->
<section id="badges" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>{% trans 'Badges' %}</h2>
            <p>{% trans 'My badges' %}</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">{% trans 'All' %}</li>
                    <li data-filter=".filter-cybersecurity">{% trans 'Cybersecurity' %}</li>
                    <li data-filter=".filter-language">{% trans 'Language' %}</li>
                    <li data-filter=".filter-project">{% trans 'Project' %}</li>
                    <li data-filter=".filter-misc">{% trans 'Misc' %}</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-cybersecurity">
                <div class="portfolio-wrap">
                    <img src="{% static 'img/badges/badge1.png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{% trans 'ISO/IEC 27001 Information Security Associate™' %}</h4>
                        <p>{% trans 'Cybersecurity' %}</p>
                        <div class="portfolio-links">
                            <a href="{% static 'img/badges/badge1.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox"
                               title="{% trans 'ISO/IEC 27001 Information Security Associate™' %}"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://www.skillfront.com/Badges/49075360036256"
                               data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="{% trans 'Go to' %}"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-language">
                <div class="portfolio-wrap">
                    <img src="{% static 'img/badges/badge2.png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{% trans 'EF Standard English Test (EF SET)' %}</h4>
                        <p>{% trans 'Language' %}</p>
                        <div class="portfolio-links">
                            <a href="{% static 'img/badges/badge2.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox"
                               title="{% trans 'EF Standard English Test (EF SET)' %}"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://www.efset.org/cert/zFDSZv"
                               data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="{% trans 'Go to' %}"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-cybersecurity">
                <div class="portfolio-wrap">
                    <img src="{% static 'img/badges/badge3.png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{% trans 'Cyber Security Foundation Professional Certificate - CSFPC™' %}</h4>
                        <p>{% trans 'Cybersecurity' %}</p>
                        <div class="portfolio-links">
                            <a href="{% static 'img/badges/badge3.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox"
                               title="{% trans 'Cyber Security Foundation Professional Certificate - CSFPC™' %}"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://www.credly.com/badges/688222f4-c10b-4f1f-8cf4-79075805b40d"
                               target="_blank" title="{% trans 'Go to' %}"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                <div class="portfolio-wrap">
                    <img src="{% static 'img/badges/badge4.png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{% trans 'Remote Work and Virtual Collaboration Professional Certificate - RWVCPC' %}</h4>
                        <p>{% trans 'Project' %}</p>
                        <div class="portfolio-links">
                            <a href="{% static 'img/badges/badge4.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox"
                               title="{% trans 'Remote Work and Virtual Collaboration Professional Certificate - RWVCPC' %}"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://www.youracclaim.com/badges/60874bc0-50af-4254-9394-d04cb992cbea"
                               target="_blank" title="{% trans 'Go to' %}"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-misc">
                <div class="portfolio-wrap">
                    <img src="{% static 'img/badges/badge5.png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{% trans 'Lifelong Learning' %}</h4>
                        <p>{% trans 'Misc' %}</p>
                        <div class="portfolio-links">
                            <a href="{% static 'img/badges/badge5.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox"
                               title="{% trans 'Lifelong Learning' %}"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://www.youracclaim.com/badges/7e14c39f-78be-473a-a60e-41d3711b686d"
                               target="_blank" title="{% trans 'Go to' %}"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                <div class="portfolio-wrap">
                    <img src="{% static 'img/badges/badge6.png' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{% trans 'Scrum Foundation Professional Certificate - SFPC™' %}</h4>
                        <p>{% trans 'Project' %}</p>
                        <div class="portfolio-links">
                            <a href="{% static 'img/badges/badge6.png' %}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox"
                               title="{% trans 'Scrum Foundation Professional Certificate - SFPC™' %}"><i
                                    class="bx bx-plus"></i></a>
                            <a href="https://www.youracclaim.com/badges/6ee90d3a-4cac-4115-9e92-f543c09f3fa0"
                               target="_blank" title="{% trans 'Go to' %}"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Badges Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>{% trans 'Contact' %}</h2>
            <p>{% trans 'Contact Me' %}</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>{% trans 'E-Mail' %}</h3>
                    <p><a href="mailto:yoediaz92@gmail.com">yoediaz92@gmail.com</a></p>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>{% trans 'Social Profiles' %}</h3>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/yoel-d%C3%ADaz-herrera-91969313b/" class="linkedin"><i
                                class="bi bi-linkedin"></i></a>
                        <a href="https://www.twitter.com/yoe1_diaz" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/yoel.diazherrera.5" class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/yoeldiaz5/" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="https://github.com/yoeldiaz" class="github"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="{% trans 'Your Name' %}"
                           required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email"
                           placeholder="{% trans 'Your Email' %}" required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="{% trans 'Subject' %}"
                       required>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="{% trans 'Message' %}"
                          required></textarea>
            </div>
            <div class="text-center" style="margin-top: 20px">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit">{% trans 'Send Message' %}</button>
                </div>
            </div>
        </form>

    </div>
</section><!-- End Contact Section -->

<!-- ======= Language Section ======= -->
<section id="language" class="language">
    <div class="container">

        <div class="section-title">
            <h2>{% trans 'Language' %}</h2>
            {% get_current_language as current_language %}
            {% get_available_languages as languages %}
            <p>{% trans 'Do you not understand' %} {{ current_language | language_name_local }}?</p>
        </div>
        <div class="row">
            {% for language_code, language_name in languages %}
                {% if current_language != language_code %}
                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0 centered">
                        <div class="icon-box">
                            <a href="/{{ language_code }}">
                                <img src="{% static 'img/lang/' %}{{ language_code }}.png"
                                     title="{% trans language_name %}" alt="{% trans language_name %}" width="100"></a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</section><!-- End Language Section -->

<div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
</div>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>